/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        Genpd1 {
            bindings = <&wp1>;
            key-positions = <22 34 48>;
            layers = <2>;
        };

        Genpd2 {
            bindings = <&wp2>;
            key-positions = <21 33 47>;
            layers = <2>;
        };

        cmbRaycast {
            bindings = <&kp LA(ENTER)>;
            key-positions = <54 55>;
            layers = <0>;
        };

        ToDef {
            bindings = <&to 0>;
            key-positions = <15 27 39>;
        };

        ToMouse {
            bindings = <&to 3>;
            key-positions = <14 26 38>;
        };

        ToNav {
            bindings = <&to 2>;
            key-positions = <13 25 37>;
        };
    };

    macros {
        wp1: wp1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp AT &kp LS(T) &kp I &kp N0 &kp N2 &kp C &kp A &kp N0 &kp N9 &kp RET>;
            label = "WP1";
        };

        wp2: wp2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp AT &kp LS(A) &kp N &kp H &kp K &kp H &kp O &kp I &kp N1 &kp N4 &kp B &kp E &kp N &kp G &kp O &kp C &kp RET>;
            label = "WP2";
        };
    };

    behaviors {
        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <1>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <6 7 8 9 10 23 11 22 21 18 19 20 30 43 44 45 31 32 46 47 33 34 48 35 49>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <1>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 0 1 2 3 12 13 14 15 24 25 26 27 36 37 38 39 4 5 16 17 28 29 41 42 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            label = "Def";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&none  &kp N1           &kp N2           &kp N3               &kp N4             &kp N5                                  &kp N6           &kp N7             &kp N8               &kp N9           &kp N0           &none
&none  &kp Q            &kp W            &kp F                &kp J              &kp COMMA                               &kp DOT          &kp L              &kp U                &kp Y            &kp SQT          &none
&none  &hrl LEFT_GUI A  &hrl LEFT_ALT R  &hrl LEFT_CONTROL S  &hrl LEFT_SHIFT T  &kp G                                   &kp M            &hrm LEFT_SHIFT N  &hrm LEFT_CONTROL E  &hrm LEFT_ALT I  &hrm LEFT_GUI O  &none
&none  &kp Z            &kp X            &kp C                &kp D              &kp V        &kp C_MUTE    &none        &kp K            &kp H              &kp P                &kp B            &kp FSLH         &none
                        &none            &none                &lt 7 ESC          &lt 2 SPACE  &lt 3 TAB     &lt 4 ENTER  &lt 5 BACKSPACE  &lt 6 RIGHT_ALT    &none                &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        BK {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "BK";
        };

        Nav {
            bindings = <
&trans  &trans    &trans    &trans     &trans                    &trans                                    &trans         &trans     &trans     &trans     &trans     &trans
&trans  &trans    &trans    &trans     &trans                    &trans                                    &kp LS(LG(Z))  &kp LG(V)  &kp LG(C)  &kp LG(X)  &kp LG(Z)  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT                 &trans                                    &kp CAPSLOCK   &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans  &trans    &trans    &trans     &sk LS(LA(LC(LEFT_GUI)))  &kp LS(LA(LC(LG(V))))  &trans    &trans   &kp INSERT     &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &trans
                  &trans    &trans     &trans                    &trans                 &trans    &kp RET  &kp BSPC       &kp DEL    &trans     &trans
            >;

            label = "Nav";
        };

        Mouse {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans     &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans     &trans     &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                  &trans    &trans     &trans     &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "Mouse";
        };

        SYM {
            bindings = <
&trans  &trans         &trans        &trans         &trans         &trans                                 &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp LS(LBRC)   &kp LS(AMPS)  &kp LS(STAR)   &kp LS(LPAR)   &kp LS(RBRC)                           &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp LS(COLON)  &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(CARET)  &kp LS(PLUS)                           &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans
&trans  &kp LS(TILDE)  &kp LS(EXCL)  &kp LS(AT)     &kp LS(POUND)  &kp LS(PIPE)  &trans           &trans  &trans  &trans     &trans     &trans    &trans    &trans
                       &trans        &trans         &kp LS(LPAR)   &kp LS(RPAR)  &kp LS(UNDER)    &trans  &trans  &trans     &trans     &trans
            >;

            label = "SYM";
        };

        NUM {
            bindings = <
&trans  &trans     &trans  &trans  &trans   &trans                          &trans   &trans     &trans     &trans    &trans    &trans
&trans  &kp LBKT   &kp N7  &kp N8  &kp N9   &kp RBKT                        &kp DOT  &kp COMMA  &trans     &trans    &trans    &trans
&trans  &kp SEMI   &kp N4  &kp N5  &kp N6   &kp EQUAL                       &trans   &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans
&trans  &kp GRAVE  &kp N1  &kp N2  &kp N3   &kp BSLH   &trans       &trans  &trans   &trans     &trans     &trans    &trans    &trans
                   &trans  &trans  &kp DOT  &kp N0     &kp MINUS    &trans  &trans   &trans     &trans     &trans
            >;

            label = "NUM";
        };

        Func {
            bindings = <
&trans  &trans   &trans  &trans  &trans    &trans                        &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp F12  &kp F7  &kp F8  &kp F9    &trans                        &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6    &trans                        &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3    &trans     &trans     &trans  &trans  &trans     &trans     &trans    &trans    &trans
                 &trans  &trans  &kp LGUI  &kp SPACE  &kp TAB    &trans  &trans  &trans     &trans     &trans
            >;

            label = "Func";
        };

        Media {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans     &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans    &trans     &trans     &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                  &trans    &trans     &trans     &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "Media";
        };
    };
};
